@page "/resources"

<PageTitle>NASA Astronomy Picture Of the Day (APOD)</PageTitle>

<section class="resources-section section-apis">
    <div class="resources-container flow">
        <header class="resources-section__header">
            <h2 class="resources-section__header__title">
                Resource
            </h2>
            <p class="resources-section__header__subtitle">
                API's
            </p>
        </header>
        <p class="resources-section__paragraph">
            Below is a list of some of the API's being utilized on SpaceOut
        </p>
        <ul>
            <li><a href="https://api.nasa.gov/" class="resources-api-nav__link">APOD (Astronomy Picture of the Day) API</a></li>
            <li><a href="https://api.nasa.gov/" class="resources-api-nav__link">Mars Rover Photos API</a></li>
        </ul>
    </div>
</section>

<section class="resources-section section-logos">
    <div class="resources-container flow">
        <header class="resources-section__header">
            <h2 class="resources-section__header__title">
                Space
            </h2>
            <p class="resources-section__header__subtitle">
                Resources
            </p>
        </header>
        <p class="resources-section__paragraph">
            Below is a list of general space resources that I follow.
        </p>
        <ul>
            <li><a href="https://rumsnak.dk/" class="resources-logos-nav__link">rumsnak.dk (danish only)</a></li>
            <li><a href="https://www.space.com/" class="resources-logos-nav__link">space.com</a></li>
            <li><a href="https://theconversation.com/europe" class="resources-logos-nav__link">theconversation.com</a></li>
        </ul>
    </div>
</section>

@code {

}
