@page "/nasa/epic"

@using SpaceOut.BusinessLogicLayer.Services;

@inject NasaService nasaService

<PageTitle>Earth Polychromatic Imaging Camera (EPIC)</PageTitle>

<section class="nasa-epic-section section-epic">
    <div class="nasa-epic-container flow">
        <header class="nasa-epic-section__header">
            <h2 class="nasa-epic-section__header__title">
                EPIC
            </h2>
            <p class="nasa-epic-section__header__subtitle">
                Earth Polychromatic Imaging Camera
            </p>
        </header>
        <p class="nasa-epic-section__paragraph">
            Please choose date. Then chose if you wish natural or enhanced photo. 
            Finally choose between available photos.
        </p>
    </div>
</section>

<section class="nasa-epic-section section-epic2">
    <div class="nasa-epic-container flow">
        <header class="nasa-epic-section__header">
            <h2 class="nasa-epic-section__header__title">
                EPIC
            </h2>
            <p class="nasa-epic-section__header__subtitle">
                Earth Polychromatic Imaging Camera
            </p>
        </header>
        <p class="nasa-epic-section__paragraph">
            Test section.
        </p>
    </div>
</section>

@code {

}
