@inherits LayoutComponentBase

<header class="header">
    <nav class="header-nav">
        <ul class="header-nav__list">
            <li class="header-nav__list-item"><a href="/" class="header-nav__link">HOME</a></li>
            <li class="header-nav__list-item"><a href="/nasa/apod" class="header-nav__link">NASA APOD</a></li>
            <li class="header-nav__list-item"><a href="/nasa/marsrover" class="header-nav__link">NASA Mars Rover</a></li>
            <li class="header-nav__list-item"><a href="/resources" class="header-nav__link">Resources</a></li>
        </ul>
    </nav>
</header>

<main class="main">
    @Body
</main>

<footer class="footer">
    <p class="footer__p">Find me elsewhere on the web as well:</p>
    <ul class="footer__social__list">
        <li class="footer__social__list-item"><a href="https://www.youtube.com/channel/UCGmaLP-HK6vxvGT9badzBwQ" class="footer__social__link">YouTube</a></li>
        <li class="footer__social__list-item"><a href="https://twitter.com/klaus_langgaard" class="footer__social__link">Twitter</a></li>
        <li class="footer__social__list-item"><a href="https://github.com/klaus0499" class="footer__social__link">Github</a></li>
        <li class="footer__social__list-item"><a href="https://www.linkedin.com/in/langgaard/" class="footer__social__link">LinkedIn</a></li>
    </ul>
    <p class="footer__p">&copy; 2022 Klaus Langgaard Thomsen</p>
</footer>
