@page "/"

<PageTitle>Welcome to Space Out</PageTitle>

<section class="homepage-section section-gatewaytospace">
    <div class="homepage-container flow">
        <header class="homepage-section__header">
            <h2 class="homepage-section__header__title">
                Your Gateway
            </h2>
            <p class="homepage-section__header__subtitle">
                to space
            </p>
        </header>
        <p class="homepage-section__paragraph">
            Welcome to my little space on the world wide web. Feel free to space out and explore the 
            spaces below which utilizes publicly available APIs from space agencies such as NASA, ESA etc. 
        </p>
        <div class="homepage-card-container">
            <div class="homepage-card-apod">
                <div class="homepage-card-content">
                    <h2 class="homepage-card-title">NASA APOD</h2>
                    <p class="homepage-card-body">
                        Astronomy Picture Of the Day
                    </p>
                    <a href="/nasa/apod" class="homepage-card__button">GO</a>
                </div>
            </div>
            <div class="homepage-card-marsrover">
                <div class="homepage-card-content">
                    <h2 class="homepage-card-title">NASA Mars Rover</h2>
                    <p class="homepage-card-body">
                        Mars Rover Photos
                    </p>
                    <a href="/nasa/marsrover" class="homepage-card__button">GO</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="homepage-section section-spacepages">
    <div class="homepage-container flow">
        <header class="homepage-section__header">
            <h2 class="homepage-section__header__title">
                Feel Free To
            </h2>
            <p class="homepage-section__header__subtitle">
                explore & space out
            </p>
        </header>
        <p class="homepage-section__paragraph">
            Click the logos to visit space agency homepage.
        </p>
        <div class="homepage-logo-container">
            <picture class="homepage-logo-csharp-picture">
                <a href="https://www.nasa.gov"><img src="/images/homepage/homepage - logo nasa.png" alt="NASA logo" class="homepage-logo-csharp-picture__image" /></a>
            </picture>
            <picture class="homepage-logo-netcore-picture">
                <a href="https://www.spacex.com/"><img src="/images/homepage/homepage - logo spacex.png" alt="SpaceX logo" class="homepage-logo-netcore-picture__image"></a>
            </picture>
            <picture class="homepage-logo-efcore-picture">
                <a href="https://www.esa.int/"><img src="/images/homepage/homepage - logo esa.png" alt="ESA logo" class="homepage-logo-efcore-picture__image"></a>
            </picture>
            <picture class="homepage-logo-sqlserver-picture">
                <a href="https://global.jaxa.jp/"><img src="/images/homepage/homepage - logo jaxa.png" alt="JAXA logo" class="homepage-logo-sqlserver-picture__image"></a>
            </picture>
            <picture class="homepage-logo-blazor-picture">
                <a href="https://www.isro.gov.in/"><img src="/images/homepage/homepage - logo isro.png" alt="ISRO logo" class="homepage-logo-blazor-picture__image"></a>
            </picture>
            <picture class="homepage-logo-css-picture">
                <a href="https://www.space.gov.il/en"><img src="/images/homepage/homepage - logo isa.png" alt="ISA logo" class="homepage-logo-css-picture__image"></a>
            </picture>
            <picture class="homepage-logo-git-picture">
                <a href="https://en.roscosmos.ru/"><img src="/images/homepage/homepage - logo roscosmos.png" alt="Roscosmos logo" class="homepage-logo-git-picture__image"></a>
            </picture>
            <picture class="homepage-logo-html5-picture">
                <a href="https://www.nasa.gov"><img src="/images/homepage/homepage - logo cnsa.png" alt="CNSA logo" class="homepage-logo-html5-picture__image"></a>
            </picture>
        </div>
        <p class="homepage-section__paragraph">
            For links to some of the APIs being used on this homepage and for a brief list of other space
            resources that I find interesting please visit the resource page.
        </p>
        <a href="/resources" class="homepage-section__button">resources</a>
    </div>
</section>


